<script lang="ts" setup>
import { useLoadStore } from '@/stores/loading';
import { ref } from 'vue'
const LoadingDialog = useLoadStore()
</script>
<template>
  <v-dialog v-model="LoadingDialog.isLoading" persistent width="auto">
    <v-card>
      <v-card-text class="text-center">
        <div>Please waid</div>
        <v-progress-circular :size="50" color="primary" indeterminate></v-progress-circular>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
